[submodule "simple_storage/lib/forge-std"]
	path = simple_storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fund_me/lib/forge-std"]
	path = fund_me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
